/* CSS Document */
.banner {
	background: url(/Photos/star-trek-banner.jpg) fixed 100% 100% no-repeat;
	width: 100%;
	height: 500px;
	margin:7px auto;
	text-align: center;
}
body {
	background-image: url(Photos/space.jpg)  
}
.menu {
	font-stretch: extra-expanded;
	background-color: rgba(70, 40, 108, 0.4);
        background: rgba(70, 40, 108, 0.4);	
}
h1 {
	color:white;
	height: 50px;
	margin: 12px;
	text-align: center;
	font-family: 'Star Trek', Arial, "sans-serif";
	font-size: 50px;
	font-weight:normal;
        font-style:normal;
	justify-content: center;
	
}
h2 {
	color: white;
	margin: 12px;
	text-align: left;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: 900;
	font-style: oblique;
	
}
p {
	color: white;
	margin: 12px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
ul {
	color: white;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif"
}
.badge {
	background: url(Photos/TNGbadge1.png) no-repeat left top;
	height: 45px;
	padding-left: 50px;
	padding-top: 20px;
}
.nobullet {
	font-family: impact;
	font-size: 25px;
	padding-left: 35px;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color: rgba(70, 40, 112, 0.4);
        background: rgba(100, 80, 112, 0.4);
	background-blend-mode:hard-light;
}
li {
        float: left;
	margin-left: 2%;
	margin-right: 5%;
}

li a {
	font-size: xx-large;
	font-family: 'Star Trek', Arial, "sans-serif";
	font-stretch: ultra-expanded;
        display: block;
}
 table {
       margin: 5px;
       margin-top: 0px;
       width: 100%;
       color: white;
       font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
       background-color: rgba(70, 40, 108, 0.4);
       background: rgba(70, 40, 108, 0.4);
       border: 10px solid #6908A2;
       border-width: thick; 
}
.fixed-ratio-resize {
	max-width: 100%;
	height: auto;
	width: auto;
}

    td {
       padding-left: 8px;
       padding-right: 8px;
       padding-top: 0px;	
       vertical-align: top;
       table-layout: auto;
       border-collapse: collapse;
       white-space: pre-line;
       max-width: 300px;
    }
tr.price {
	text-align: left;
	font-weight: 900;	
}
fieldset {
 	padding-left: 20px;	
 	display: grid;
	width: 900px;
 	height:auto;
 	border: hidden;
}
.buttons {
	color: black;
}
a:link {
	color: darkturquoise;
	text-decoration: none;
}
a:visited {
	font: small-caps;
	color: yellowgreen;
}
a:hover {
    	background-color: transparent;
}
a:active {
    	background-color: rgba(70, 40, 108, );
    	background: rgba(70, 40, 108, 1);
} 

.fix {
	padding-left: 380px;
}
img {
	margin-right: 10px;
	border-radius: 10px;	
}
.sevenofnine {
	margin-left: 8px;
	margin-top: 10px;
	border-style: solid;
	border-width:thick;
	border-color:white;
	float:left;
}
.indexlist {
	text-align: left;
}
.communicator {
	margin-top: 12px;
	margin-bottom: 12px;
}
@font-face {
	font-family: "Star Trek";
	src: url('dintrek-webfont.woff') format('woff'),
	     url('dintrek-webfont.woff2') format('woff2'),
	     url('DINTrek.ttf') format('truetype');
}
