.backgroundwork {
  background-color: black;
  width: 1000px;
  height: 500px;
  position: relative;
  border: 50px inset grey;
  border-radius: 10px;
  padding
}

.startButton {
  position: absolute;
  left: 680px;
  top: 450px;
  z-index: 4;
}

.savePicard {
  height: 200px;
  width: 350px;
  float: left;
  margin-top: 10px;
  margin-bottom: 100px;
  z-index: 5;
}
h1 {
  font-family:"Star Trek";
  color: white;
  text-align: center;
  font-size: 50px;
}
p {
  font-family: monospace;
  font-size: 29px;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  height: fit-content;
  /* width: 1000px; */
  /* position:  relative; */
  /* text-overflow: ellipsis; */
  /* text-decoration-color: aliceblue; */
  /* -webkit-box-lines: multiple; */
  /* font-feature-settings: unset; */
  line-height: 1;
  text-align: -webkit-auto;
}

button {
  background-color: purple;
  border: 5px solid purple;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

#lane1 {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 75px;
  width: 800px;
  height: 150px
}

#lane2 {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 300px;
  width: 800px;
  height: 150px
}

.borg {
  width: 216px;
  height: 122px;
  position: relative;
  z-index: 2;
  animation: enterprise 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.enterprise {
  position: relative;
  z-index: 3;
}

@keyframes enterprise {
  from {
    left: 50px;
  }
  to {
    left: 720px;
  }
}
body {
background-image: url('https://Shenobiwan.github.io/Space Race/BorgFirstContact.jpg');
  background-repeat: no-repeat, no-repeat;
}
.backgroundtext {
position: absolute;
left: 1300px;
top: 0px;
height: 800px;
width: 300px; 
background: linear-gradient(rgba(0,255,0,1), rgba(0,255,0,0)); 
}
#bodytitle {
  font-family: 'Star Trek', Arial, "sans-serif";
  font-size: 80px;
  color: white;
  padding-right: 10px;
   padding-left: 10px;
  line-height: 150%;
}
@font-face {
  font-family: "Star Trek";
  src: url('https://Shenobiwan.github.io/dintrek-webfont.woff') format('woff'), url('https://Shenobiwan.github.io/dintrek-webfont.woff2') format('woff2'), url('https://Shenobiwan.github.io/DINTrek.ttf') format('truetype');
}
