.backgroundwork {
  background-color: black;
  width: 1000px;
  height: 500px;
  position: relative;
  background-color: black;
    width: 1000px;
    height: 500px;
    position: relative;
    border-left: 50px double #6666ff;
    border-right: 50px double #cc99cc;
    border-radius: 10px;
    border-top: 50px double #cc6699;
    border-bottom: 50px double #ff9900;
  border-radius: 10px;
  left: 85px;
    top: 50px;
}
canvas {
    background-color: black;
    width: 1000px;
    height: 500px;
    position: relative;
    background-color: black;
    position: absolute;
    left: 143px;
    top: 107px;
    z-index:9;
    border:1px solid #000000;
    background-color: #000000;
}
.startButton {
 position: absolute;
   left: 210px;
  top: 480px;
  z-index: 4;
}
#warpcore {
  position: absolute;
  left: 480px;
  top: 670px;
  visibility: hidden;
}

.savePicard {
  height: 200px;
  width: 350px;
  float: left;
  margin-top: 10px;
  margin-bottom: 100px;
  z-index: 5;
}
h1 {
  font-family:"Star Trek";
  color: white;
  text-align: center;
  font-size: 60px;
}
p {
  font-family: monospace;
  font-size: 29px;
  color: white;
  padding-right: 30px;
  padding-left: 30px;
  height: fit-content;
  /* width: 1000px; */
  /* position:  relative; */
  /* text-overflow: ellipsis; */
  /* text-decoration-color: aliceblue; */
  /* -webkit-box-lines: multiple; */
  /* font-feature-settings: unset; */
  line-height: 1;
  text-align: -webkit-auto;
}
#red {
  height: 200px;
  width: 300px
  position: relative;
  left: 75px;
  top: 150px;
  visibility: hidden;
}
#green {
  height: 200px;
  width: 300px
  position: relative;
  left: 75px;
  top: 150px;
  visibility: hidden;
}
#redalertmsg {
  background: linear-gradient(rgba(192,192,192,1), rgba(192,192,192,0));
  border: 5px solid black;
  font-family:monospace;
  font-size:20px;
  height: 200px;
  width: 650px;
  position: absolute;
  left: 175px;
  top: 150px;
  visibility: hidden;
}
#greenalertmsg {
  background: linear-gradient(rgba(192,192,192,1), rgba(192,192,192,0));
  border: 5px solid black;
  font-family:monospace;
  font-size:20px;
  height: 200px;
  width: 650px;
  position: absolute;
  left: 175px;
  top: 150px;
  visibility: hidden;
}
#redmsg {
  padding-left: 320px;
  position: absolute;
  font-size: 22px;
  left: 0px;
  top: 10px;
  text-align: -webkit-center;
  visibility: hidden;
  cursor: pointer;
}
#greenmsg {
  padding-left: 320px;
  position: absolute;
  font-size: 22px;
  left: 0px;
  top: 10px;
  text-align: -webkit-center;
  visibility: hidden;
  cursor: pointer;
}
button {
    background-color: #9999ff;
    border: 5px solid #cc6666;
    border-radius: 10px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    font-family: monospace;
    font-weight: bolder;
}

#lane1 {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 75px;
  width: 800px;
  height: 150px
}

#lane2 {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 300px;
  width: 800px;
  height: 150px
}

.borg {
  width: 216px;
  height: 122px;
  position: relative;
  z-index: 2;
  animation: enterprise 5s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
}

.enterprise {
  position: relative;
  z-index: 3;
}

@keyframes enterprise {
  from {
    left: 50px;
  }
  to {
    left: 720px;
  }
}
body {
background-image: url('https://Shenobiwan.github.io/Space Race/BorgFirstContact.jpg');
  background-repeat: no-repeat, no-repeat;
}
.backgroundtext {
position: absolute;
left: 1300px;
top: 0px;
height: 800px;
width: 300px; 
background: linear-gradient(rgba(0,255,0,1), rgba(0,255,0,0)); 
}
#bodytitle {
  font-family: 'Star Trek', Arial, "sans-serif";
  font-size: 80px;
  color: white;
  padding-right: 10px;
   padding-left: 10px;
  line-height: 150%;
}
@font-face {
  font-family: "Star Trek";
  src: url('https://Shenobiwan.github.io/dintrek-webfont.woff') format('woff'), url('https://Shenobiwan.github.io/dintrek-webfont.woff2') format('woff2'), url('https://Shenobiwan.github.io/DINTrek.ttf') format('truetype');
}
